<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment of Statements</title>
    <link rel="stylesheet" href="style.css">
    <style>
        body {
            background-color:lightskyblue;
        }
        .center-image {
            display: block;
            margin: 20px auto; /* auto for left and right = center */
            max-width: 80%;    /* make sure it's not too big */
            height: auto;
        }
    </style>
</head>
<body>
    <p style="font-size:20px;">The objective is to show you your inputed sentences from most negative to least negative</p>
    <h1 style="font-size:60px;">Sentiment of Statements</h1>
    <form id="statementForm" method="post" action="/analyze">
        <label style="display:block;font-size:20px;max-width:500px;" for="statement">Enter as many statements as possible, separeated by a comma:</label>
        <input type="text" id="user_statements" style="width:500px;height:15px;" name="user_statements" required>
        <button style="font-size:25px;" type="submit">Analyze</button>
    </form>
    <!-- CENTERED IMAGE -->
    <img src = "Blog-What-is-NLP.jpg" alt="Natural Processing Language Ain't loading" class="center-image" style="width:400px;height:200px;">
    <a style="display:block;font-size:40px;max-width:400px;" href="https://www.google.com/search?q=Sassy++the+big+lez+show+memes+gif&sca_esv=497749797b431add&rlz=1C1MMCH_enZA995ZA995&udm=2&biw=1517&bih=665&sxsrf=AHTn8zrtis0c57cHOatoZ4FlIf-C4yss7Q%3A1746291379664&ei=s0oWaJeqKOnPhbIPuaGdmQQ&ved=0ahUKEwjXz--q4oeNAxXpZ0EAHblQJ0MQ4dUDCBE&uact=5&oq=Sassy++the+big+lez+show+memes+gif&gs_lp=EgNpbWciIVNhc3N5ICB0aGUgYmlnIGxleiBzaG93IG1lbWVzIGdpZkiCJlAOWK0lcAh4AJABApgBxAOgAawvqgEIMi0yMC4xLjG4AQPIAQD4AQGYAgCgAgCYAwCSBwCgB94HsgcAuAcA&sclient=img#vhid=4QmXynRzSOtLWM&vssid=mosaic" 
    class="center-image">DO NOT PRESS!</a> <!-- a FOR LINK -->
</body>
</html>